<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="logo">Интернет-магазин</div>
            <div class="cart">
                <search ref="search"></search>
                <cart ref="cart">
                </cart>
            </div>
        </header>
        <main>
            <div class="products">
                <p v-if="!filtered.length">Продукты не найдены</p>
                <div class="product-item" v-for="product of filtered" :key="product.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc">
                        <h3>{{product.product_name}}</h3>
                        <p>{{product.price}}₽</p>
                        <button class="buy-btn" @click="$refs.cart.addItem(product)">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="js/vuemainLesson5.js"></script> -->
    <script src="js/CartComponent.js"></script>
    <script src="js/SearchComponent.js"></script>
    <script src="js/vuemain.js"></script>
</body>

</html>