* {
    padding: 0;
    margin: 0 auto;
  }
body{
    color: #fff;
    background-color: rgb(131, 102, 102);
  }
.wraper {
    min-height: 100%;
}
.btn-cart{
    width: 200px;
    height: 50px;
    border-radius: 2rem;
    border: 1px solid rgb(41, 29, 29);
}
main{
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: darkslategray;
}
.products{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.product-item{
    display: flex;
    flex-direction: column;
    background: darkgray;
    justify-content: center;
    width: 220px;
    height: 300px;
}
.product-item h3{
    padding: 5px 0;
}
.product-item p{
    padding-bottom: 5px;
}
.by-btn{
    padding: 2px 15px;
    border-radius: 2rem;
    border: 1px solid rgb(41, 29, 29);
}
.logo span{
    display: block;
    height: 55px;
    width: 55px;
    background: #fff;
    border-radius: 50%;
}
.cart{
    position: relative;
}
.cart_list{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background: rgb(187, 171, 171);
    min-width: 320px;
    min-height: 200px;
    border-radius: 0.5rem;
    padding: 10px;
}
.hiden{
    display: none;
}
.cart_list-product{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.cart_product-left{
    display: flex;
    justify-content: center;
}
.cart_list-img{
    width: 70px;
    height: 110px;
    margin-right: 10px;
}
.cart_list-img img{
    width: 100%;
    height: 100%;
}
.cart_product-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.del-button{
    padding: 5px 10px;
    background: rgb(53, 50, 50);
    border-radius: 0.5rem;
    color: #fff;
    margin-top: 10px;
}