* {
    padding: 0;
    margin: 0 auto;
  }
body{
    color: #fff;
    background-color: rgb(131, 102, 102);
  }
.wraper {
    min-height: 100%;
}
.btn-cart{
    width: 200px;
    height: 50px;
    border-radius: 2rem;
    border: 1px solid rgb(41, 29, 29);
}
main{
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background: darkslategray;
}
.products{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.product-item{
    display: flex;
    flex-direction: column;
    background: darkgray;
    justify-content: center;
    width: 220px;
    height: 300px;
}
.product-item h3{
    padding: 5px 0;
}
.product-item p{
    padding-bottom: 5px;
}
.by-btn{
    padding: 2px 15px;
    border-radius: 2rem;
    border: 1px solid rgb(41, 29, 29);
}
.logo span{
    display: block;
    height: 55px;
    width: 55px;
    background: #fff;
    border-radius: 50%;
}